* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 200vh;
    width: 100%;
    background-color: white;
}

.container ul {
    font-size: 20px;
    display: flex;
    align-items: center;
    list-style: none;
    color: gray;
    position: absolute;
    top: 30px;
    z-index: 1;
    left: 77%;
    font-weight: 500;
    gap: 23px;
}

.nav {
    height: 80px;
    width: 95%;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    position: sticky;
    left: 30px;
}

.nav img {
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
}

.nav ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    left: 160px;
    position: absolute;
    top: 30px;
    color: #03355A;
    font-weight: bold;
}

.card-1 img {
    height: 100vh;
    width: 100%;
    margin-top: -80px;
}

.card-1 button {
    height: 60px;
    width: 220px;
    font-size: 20px;
    background-color: #71A8E3;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 460px;
    left: 460px;
    text-align: center;
}

.card-1 button:hover{
  background-color: white;
  color: red;
}


.card-2 img {
    height: 500px;
    width: 1000px;
    position: absolute;
    top: 100px;
    left: 140px;
}

.card-3 {
    height: 120vh;
    width: 100%;
    /* background-color: white; */
    position: absolute;
}

.card-3 h1 {
    font-size: 180px;
    font-weight: 900;
    line-height: 0.9;
    color: #4A8CD3;
    font-family: sans-serif;
}

.card-3 h2 {
    font-size: 180px;
    font-weight: 900;
    line-height: 0.9;
    color: #EDA822;
    font-family: sans-serif;
    margin-top: -165px;
    margin-left: 715px;
}

.card-3 img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 590px;
}

.card-4 h1 {
    font-size: 180px;
    font-weight: 900;
    line-height: 0.9;
    color: #EDA822;
    font-family: sans-serif;
    position: absolute;
    z-index: 2;
    bottom: -350px;
}

.card-4 h2 {
    font-size: 180px;
    font-weight: 900;
    line-height: 0.9;
    color: #619311;
    font-family: sans-serif;
    position: absolute;
    z-index: 2;
    bottom: -350px;
    left: 590px;
}

.card-4 img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    bottom: -340px;
    left: 460px;
}

.card-5 h1 {
    font-size: 180px;
    font-weight: 900;
    line-height: 0.9;
    color: #619311;
    font-family: sans-serif;
    position: absolute;
    bottom: -500px;
    left: -10px;
}

.card-5 h2 {
    font-size: 175px;
    font-weight: 900;
    line-height: 0.9;
    color: #EDA822;
    font-family: sans-serif;
    position: absolute;
    bottom: -500px;
    left: 704px;
}

.card-5 img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    bottom: -490px;
    left: 590px;
}


.card-6 h1 {
    font-size: 180px;
    font-weight: 900;
    line-height: 0.9;
    color: #4A8CD3;
    font-family: sans-serif;
    position: absolute;
    bottom: -660px;
    left: -10px;
}

.card-6 h2 {
    font-size: 175px;
    font-weight: 900;
    line-height: 0.9;
    color: #EDA822;
    font-family: sans-serif;
    position: absolute;
    bottom: -670px;
    left: 450px;
}

.card-6 img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    bottom: -660px;
    left: 320px;
}

.card-7 img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    bottom: -666px;
    left: 89%;
}

.card-8 {
    height: 170vh;
    width: 100%;
    background-color: white;
    position: relative;
    bottom: -700px;
}

.card-8 h1 {
    font-size: 70px;
    font-weight: 900;
    font-family: sans-serif;
    padding-top: 100px;
    text-align: center;
    color: #2B660F;
}

.card-8 h2 {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
}

.card-9 {
    height: 70px;
    width: 350px;
    border-radius: 50px;
    background-color: whitesmoke;
    position: absolute;
    bottom: -190%;
    left: 450px;
}

.card-9 ul {
    color: rgb(15, 15, 15);
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 30px;
    gap: 50px;
    margin-top: -5px;
    font-weight: bold;
    font-family: sans-serif;
}

.card-9 button {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: #2B660F;
    border-radius: 50px;
    bottom: -200px;
    border: none;
    color: gray;
    font-size: 25px;
    right: 700px;
}

.card-10 button {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: #2B660F;
    border-radius: 50px;
    bottom: -205px;
    border: none;
    color: gray;
    font-size: 25px;
    left: 700px;


}

.card-10 {
    height: 60px;
    width: 120px;
    background-color: #96cc7d;
    position: absolute;
    border-radius: 50px;
    margin-top: 48px;
    left: 460px;
}

.card-10:hover {
    background-color: #319a00;
}

.card-11 button {
    height: 60px;
    width: 200px;
    background-color: #2B660F;
    position: absolute;
    border: none;
    color: #7fc908;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    bottom: -275%;
    left: 500px;
}

.card-11 button:hover {
    background-color: #96cc7d;
    color: #319a00;
}

.card-11 img {
    position: absolute;
    height: 350px;
    top: 295%;
    left: 430px;
}

/* .card-12{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: red;
} */
.card-12 img {
    height: 200px;
}

.card-13 {
    height: 100vh;
    width: 100%;
    /* background-color: brown; */
    position: absolute;
    bottom: -390%;
}

.card-14 img {
    height: 100vh;
    width: 50%;
    position: absolute;
    /* top: 60px; */
}

.card-15 {
    height: 100vh;
    width: 100%;
    background-color: #0F440E;
    /* margin-left: 100%; */
}

.card-15 h1 {
    position: absolute;
    left: 680px;
    font-size: 70px;
    font-weight: 900;
    font-family: sans-serif;
    padding-top: 40px;
    color: #BFDE7D;
    line-height: 70px;
}

.card-15 h1 span {
    color: #2B660F;
}

.card-15 h2 {
    position: absolute;
    left: 680px;
    top: 300px;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 29px;
    color: white;
}

.card-15 button {
    height: 70px;
    width: 300px;
    background-color: #BFDE7D;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    color: #2B660F;
    border-radius: 50px;
    border: none;
    top: 500px;
    left: 700px;
}

.card-15 button:hover {
    background-color: #8EBC29;
}

.card-15 img {
    height: 60px;
    width: 60px;
    margin-top: 40%;
    margin-left: 93%;
    /* background-image: url(./cooki-icon-removebg-preview.png); */
}

.card-17 {
    height: 100vh;
    width: 100%;
    background-color: rosybrown;
    position: absolute;
    top: 490%;
}

.card-17 video {
    /* height: 97.3vh; */
    width: 100%;
    position: absolute;

}

.card-16 {
    height: 170vh;
    width: 100%;
    background-color: #3680CE;
    position: absolute;
    top: 590%;
}

.card-16 h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 140px;
    padding-left: 140px;
    color: #03355A;
}

.card-16 h2 {
    font-size: 80px;
    color: #03355A;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 140px;
}

.card-16 u {
    text-decoration-color: #03355A;
    /* padding-top: 10px; */
}


.card-16 h3 {
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: -70px;
    margin-left: 540px;
}

.sec {
    
    display: flex;
    width: auto;
    align-items: center;
    /* padding-top: -200px; */
    margin-top: 20px;
    gap: 20px;
    /* border: 2px solid red; */
    scrollbar-width: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    object-fit: cover;
}




.card-18 img {
    height: 230px;
    width: 550px;
    border-radius: 20px;
        scrollbar-width: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    object-fit: cover;

}

.card-18 img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    border-radius: 20px;
}


.card-18 h2{
    position: absolute;
    font-size: 20px;
    color: #03355A;
    font-weight: bold;
    left: -140px;
    /* bottom: 80px; */
}
.card-18 button{
    height: 55px;
    width: 55px;
    position: absolute;
    top: 70%;
    left: 80%;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background-color: #03355A;
    color: gray;
}
.card-18 button:hover{
    background-color: black;
    color: rgb(92, 87, 87);

}

.card-19 img {
    height: 230px;
    width: 550px;
    border-radius: 20px;

}
.card-19 button{
    height: 55px;
    width: 55px;
    position: absolute;
    top: 70%;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: #03355A;
    color: gray;
    left: 86%;
}
.card-19 button:hover{
    background-color: black;
    color: rgb(92, 87, 87);

}
.card-20 h2{
    position: absolute;
    font-size: 20px;
    color: #03355A;
    font-weight: bold;
    left: 60%;
    /* bottom: 80px; */
}
.card-20 img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    border-radius: 20px;
}


.card-19 img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    border-radius: 20px;
}

.card-19 h1{
    position: absolute;
    font-size: 20px;
    color: #03355A;
    font-weight: bold;
    left: -120px;
    bottom: 200px;
    left: 45px;
}

.card-19 h2{
    position: absolute;
    font-size: 20px;
    color: #03355A;
    font-weight: bold;
    left: -120px;
    z-index: 5;
    left: 430px;
    
}

.card-20 img {
    height: 230px;
    width: 550px;
    border-radius: 20px;

}

.card-21 img {
    height: 230px;
    width: 550px;
    border-radius: 20px;
}
.card-21 img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    border-radius: 20px;
}

.card-22 img {
    height: 230px;
    width: 550px;
    border-radius: 20px;
}
.card-22 img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    border-radius: 20px;
}

.card-23 img {
    height: 230px;
    width: 550px;
    border-radius: 20px;
}
.card-23 img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    border-radius: 20px;
}
.card-23 h2{
    position: absolute;
}



.marquee{
  width: 100%;
  overflow: hidden;
  background: #155798;
  padding: 15px 0;
  position: absolute;
  z-index: 7;
  bottom: 5px;
}

.marquee p{
  color: #A5CAEE;
  font-size: 100px;
  font-weight: 900;
  font-family: sans-serif;
  white-space: nowrap;
  animation: move 10s linear infinite;
}

@keyframes move {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.card-24{
    height: 100vh;
    width: 100%;
    background-color: #02355A;
    position: absolute;
    bottom: -58%;

}
.card-24 img{
    height: 70px;
    margin-top: 60px;
    margin-left: 30px;
}
.card-24 ul{
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    position: absolute;
    left: 55%;
    top: 80px;
}
.card-25 ul{
     list-style: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    position: absolute;
    left: 77%;
    top: 108%;
}
.card-26 ul{
    position: absolute;
    top: 153%;
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    font-size: 20px;
    color: white;
    left: 30px;
}
.card-27 ul{
    position: absolute;
    top: 154%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 10px;
    color: white;
    left: 400px;
}





@media (max-width: 480px) {
  .container {
    height: auto;
    overflow-x: hidden;
  }

  .container ul {
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    top: 15px;
  }

  .nav {
    height: 60px;
    width: 100%;
    left: 0;
    border-radius: 0;
  }

  .nav img {
    height: 25px;
    margin-top: 18px;
    margin-left: 15px;
  }

  .nav ul {
    font-size: 12px;
    gap: 15px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }

  .card-1 img {
    height: 50vh;
    width: 100%;
    margin-top: -60px;
    object-fit: cover;
  }

  .card-1 button {
    height: 50px;
    width: 180px;
    font-size: 16px;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
  }

  .card-2 img {
    height: 300px;
    width: 90%;
    left: 5%;
    top: 80px;
  }

  .card-3 {
    height: auto;
    padding: 20px 10px;
  }

  .card-3 h1 {
    font-size: 60px;
    text-align: center;
  }

  .card-3 h2 {
    font-size: 60px;
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
  }

  .card-3 img {
    height: 80px;
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
  }

  .card-4 h1,
  .card-4 h2,
  .card-5 h1,
  .card-5 h2,
  .card-6 h1,
  .card-6 h2 {
    font-size: 50px;
    position: relative;
    left: 0;
    bottom: auto;
    text-align: center;
    display: block;
    margin: 10px auto;
  }

  .card-4 img,
  .card-5 img,
  .card-6 img {
    height: 80px;
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    bottom: auto;
    margin: 10px auto;
  }

  .card-7 img {
    height: 80px;
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
    bottom: auto;
    position: relative;
  }

  .card-8 {
    height: auto;
    bottom: auto;
    position: relative;
    padding: 40px 20px;
  }

  .card-8 h1 {
    font-size: 40px;
    padding-top: 40px;
  }

  .card-8 h2 {
    font-size: 18px;
    padding: 20px 15px;
  }

  .card-9 {
    width: 90%;
    left: 5%;
    bottom: auto;
    position: relative;
    margin: 30px auto;
  }

  .card-9 ul {
    gap: 20px;
    left: 15px;
    font-size: 14px;
  }

  .card-9 button,
  .card-10 button {
    height: 45px;
    width: 45px;
    font-size: 20px;
    position: relative;
    bottom: auto;
    right: auto;
    left: auto;
    margin: 10px auto;
    display: block;
  }

  .card-10 {
    width: 100px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }

  .card-11 button {
    width: 90%;
    left: 5%;
    bottom: auto;
    position: relative;
    margin: 30px auto;
  }

  .card-11 img {
    height: 250px;
    width: 90%;
    left: 5%;
    top: auto;
    position: relative;
    margin: 20px auto;
  }

  .card-13 {
    height: auto;
    bottom: auto;
    position: relative;
  }

  .card-14 img {
    height: 50vh;
    width: 100%;
    position: relative;
  }

  .card-15 {
    height: auto;
    padding: 40px 20px;
  }

  .card-15 h1 {
    left: 20px;
    font-size: 40px;
    line-height: 50px;
    padding-top: 20px;
  }

  .card-15 h2 {
    left: 20px;
    top: auto;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }

  .card-15 button {
    width: 90%;
    left: 5%;
    top: auto;
    position: relative;
    margin: 30px auto;
  }

  .card-15 img {
    margin-top: 20px;
    margin-left: 80%;
  }

  .card-17 {
    height: 50vh;
    top: auto;
    position: relative;
  }

  .card-17 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-16 {
    height: auto;
    top: auto;
    position: relative;
    padding: 40px 20px;
  }

  .card-16 h1 {
    font-size: 18px;
    padding: 40px 20px 0;
  }

  .card-16 h2 {
    font-size: 40px;
    padding: 20px 20px 0;
  }

  .card-16 h3 {
    font-size: 35px;
    margin-top: 10px;
    margin-left: 0;
    padding: 0 20px;
  }

  .sec {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    overflow-x: visible;
  }

  .card-18 img,
  .card-19 img,
  .card-20 img,
  .card-21 img,
  .card-22 img,
  .card-23 img {
    height: 200px;
    width: 100%;
    margin: 20px 0;
  }

  .card-18 h2,
  .card-19 h1,
  .card-19 h2,
  .card-20 h2 {
    position: relative;
    left: 0 !important;
    bottom: auto;
    margin: 10px 0;
  }

  .card-18 button,
  .card-19 button {
    top: auto;
    left: auto;
    position: relative;
    margin: 10px auto;
    display: block;
  }

  .marquee p {
    font-size: 50px;
  }

  .card-24 {
    height: auto;
    bottom: auto;
    position: relative;
    padding: 40px 20px;
  }

  .card-24 img {
    height: 50px;
    margin: 40px 20px;
  }

  .card-24 ul,
  .card-25 ul {
    position: relative;
    left: 20px;
    top: auto;
    font-size: 16px;
    margin-top: 20px;
  }

  .card-26 ul {
    position: relative;
    top: auto;
    left: 20px;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  .card-27 ul {
    position: relative;
    top: auto;
    left: 20px;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 12px;
    margin-top: 10px;
  }
}